
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


/* 
	#####################	
	Project Custom Styles
	#####################
*/

.display-4{
	font-size: 1.9rem !important;
}

footer{
	margin-top: 20px;
	height: 3rem !important;
}

.modal-header{
	border-radius: 0px 0px 0px 0px !important;
}

/*.img-thumbnail{
	border-radius: 8rem !important;
}*/