/* 
	#####################	
	Project Custom Styles
	#####################
*/

.display-4{
	font-size: 1.9rem !important;
}

footer{
	margin-top: 20px;
	height: 3rem !important;
}

.modal-header{
	border-radius: 0px 0px 0px 0px !important;
}

#totalDetails > h6, #totalDetails li > h6{
	font-size: 1.2rem !important;
	font-weight: 400;
}
/*.img-thumbnail{
	border-radius: 8rem !important;
}*/